*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction:row;
    font-family: sans-serif;
    margin: 100px 0 100px 200px; 
    background-color: rgb(163, 157, 157);

}

aside{
    width: 25%;
    background-color: rgb(15, 125, 228);
    color: floralwhite;

}

aside section{
    padding-left: 20px;
}

aside img{
    width: 100%;
}

.data{
padding: 5px;
}

.data ul{
list-style: none;

}


.data ul li{
padding:5px ;
padding-left: 10px;
align-items: center;
}

.data ul li i{
    background-color: antiquewhite;
    color:blue;
    font-size: 25px;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
}

.aside-info span{
    display: flex;
    margin-right: 20px;
}

.aside-info h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

 aside hr{
    margin: 10px 20px 10px 20px;
    color: rgb(218, 212, 212);
}

/** main sections**/
main{
    width: 65%;
    padding: 15px;
    background-color: aliceblue;

}
main section h4{
    color: blue;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 0 10px 10px;

}
main section{
    color: black;
}

main hr{
    border: 1px solid rgb(61, 146, 243);
    margin: 10px 20px 10px 20px;
    
}
main li{
    list-style: circle ;
   list-style-position: outside;
    padding-bottom: 15px;
    color: rgb(76, 128, 241);
    margin-left: -3px;
    
}
.timeline{
    display: flex;
    justify-content:space-between;
    padding-left:15px;
    font-weight:550;
}
.work-experience section{
    border-left: 1px solid rgb(59, 102, 221); 

}
.work-experience li span{
    color: black;
}

p{
    padding: 10px 20px 10px 20px;
}
.Education section{
    border-left: 1px solid rgb(59, 102, 221); 

}
.Education span{
    padding-left:14px;

}
.Education  li{
    padding-top: 10px;
}
.Education li span{
    color: black;
    padding-left: 0;
}
.Certificate section{
    padding-top: 0;
    border-left: 1px solid blue;
    
}
.Certificate li{
    padding-top: 1px;

        
}
.Certificate li span{
color: black;    
        
}
.award  section{
    border-left: 1px solid rgb(59, 102, 221);
    padding: 0;
    margin: 0;
}

 .award li span,p{
        color: black; 
 }
     

     /*for responsive!!!!!! */
     @media (max-width: 1024px) {
        body {
            flex-direction: column;
            margin: 0;
        }
    
        aside, main {
            width: 100%;
        }
    
        aside {
            order: 1;
        }
    
        main {
            order: 2;
        }
    }
    
    /* Mobile View */
    @media (max-width: 600px) {
        body {
            flex-direction: column;
            margin: 0;
        }
    
        aside, main {
            width: 100%;
        }
    
        aside {
            order: 1;
        }
    
        main {
            order: 2;
        }
    
        .data ul li i {
            font-size: 10px;
            padding: 5px;
        }
    
        main section h4 {
            font-size: 16px;
        }
    }

    @media (max-width: 350px) {
        body {
            flex-direction: column;
            margin: 0;
        }
    
        aside, main {
            width: 100%;
        }
    
        aside {
            order: 1;
            font-size: 20px;
        }
    
        main {
            order: 2;
        }
    
        .data ul li i {
            font-size: 25px;
            padding: 5px;
        }
    
        main section h4 {
            font-size: 16px;
        }
    }